[submodule "javascripts/lib/Slog"]
	path = javascripts/lib/Slog
	url = git://github.com/keithcirkel/Slog.git
[submodule "javascripts/lib/Backbone"]
	path = javascripts/lib/Backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "javascripts/lib/Underscore"]
	path = javascripts/lib/Underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "javascripts/lib/jQuery"]
	path = javascripts/lib/jQuery
	url = git://github.com/jquery/jquery.git
[submodule "javascripts/lib/R.js"]
	path = javascripts/lib/R.js
	url = git://github.com/keithcirkel/R.js.git
[submodule "javascripts/lib/Backbone.localStorage"]
	path = javascripts/lib/Backbone.localStorage
	url = git://github.com/stefl/Backbone.localStorage.git
