#toolbar {
    height: 43px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #000;

    button {
        @include appearance(none);

        overflow: visible;
        border: 0;
    }

    .sep {
        border: 1px dotted #000;
    }
}

#toolbar_search, #toolbar_buttons, #toolbar_buttons li{
    display: inline-block;
    height: inherit;
}

#toolbar_buttons li {
    min-width: 40px;
    height: 40px;
    float: left;

    &.sep {
        min-width: 0;
    }

    button {
        width: auto;
        height: 40px;
        background: none;
        margin: 0 2px;
        display: block;
        line-height: 64px;
    }
}

#toolbar_search {
    float: right;
    border: 1px solid #000;
    background: #fff;
    margin: 8px;
    height: 25px;
    width: 200px;
}

#toolbar_search_dropdown {
    width: 22px;
    height: 25px;
    background: none no-repeat left center;
    margin-left: 2px;

    &::after {
        border: 3px solid transparent;
        border-top-color: #888;
        content: '';
        display: block;
        position: absolute;
        margin-left: 12px;
    }
}

#toolbar_search_input {
    @include appearance(textfield);
    background: none;
    border: 0;
    height: 25px;
    width: 172px;
    outline: 0;
    float: right;
}